* {
  font-family: Pixelify Sans;
}

body {
  background-color: #222;
  height: 2000px;
}
header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.guess,
.question {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 50px;
}

.question {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 50px;
  background-color: transparent;
  width: 100px;
  height: 50px;
}

.again,
.check {
  width: 120px;
  height: 50px;
  font-size: 28px;
}
.buttom {
  display: flex;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-direction: column;
}
.sc {
  margin-bottom: 20px;
  width: 180px;
  height: 80px;
  background-color: transparent;
  font-size: 50px;
  text-align: center;
  color: white;
}

.scores {
  font-size: 30px;
  color: white;
}
